# ===================================================================
# tpDcc-dccs-houdini requirements file
# ===================================================================

tpDcc-core
tpDcc-libs-python
tpDcc-libs-qt